body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}
button{
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
.tituloquestao{
    color: black;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    text-decoration-thickness: 4px;
}
#tituloprincipal{
    color: black;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    animation-name: crescer;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
@keyframes crescer{
    0%{
        transform: scale(1);
        color: black;
    }
    50%{
        transform: scale(1.2);
        color: rgb(0, 255, 136);
        letter-spacing: 5px;
    }
    100%{
        transform: scale(1);
    }
}
#voltar{
    padding: 10px 30px;
    border: 5px solid greenyellow;
    position: absolute;
    right: 30px;
    top: 20px;
    background-color: white;
    color: black;
}
#questoes{
    margin-left: 30px;
    width: fit-content;
}
#enviar{
    border: solid 5px greenyellow;
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    width: 200px;
    height: 75px;
    background-color: hsl(0, 0%, 100%);
    animation-name: pulsar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes pulsar {
    0% {
        background-color: hsl(0, 0%, 100%);
    }
    50%{
        background-color: hsl(0, 0%, 94%);
        transform: scale(1.05);
    }
    100%{
        background-color: hsl(0, 0%, 100%);
    }
}
#nota{
    background-color: white;
    width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px; 
    margin-left: 25px;
    font-weight: bold;
}
#tentarnovamente{
    margin-left: 30px;
    margin-top: 20px;
}

#tentarnovamente button {
    border: solid 5px greenyellow;
    cursor: pointer;
    width: 200px;
    height: 75px;
    background-color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: pulsar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#tema{
    position: absolute;
    top: 20px;
    right: 160px;
    height: 45px;
    border: 5px solid greenyellow;
    background-color: white;
    width: 100px;
    cursor: pointer;
}
#corAcerto{
    color: #00861B
}
#corErro{
    color: red;
}
#gabarito{
    width: 150px;
    margin-left: 30px;
    align-items: center;
}

#gabarito table {
    border: solid 5px greenyellow;
}
td{
    text-align: center;
    border: solid 1px black;
}
th{
    border: solid 2px black;
}
@view-transition{
    navigation: auto;
}
::view-transition-group(root){
    animation-duration: 0.5s;
}
::view-transition-new(root){
    animation-name: entrando;
}
::view-transition-old(root){
    animation-name: saindo;
}

@keyframes entrando{
    from{
        transform: translateX(100%);
    }
}
@keyframes saindo{
    to{
        transform: translateX(-100%);
    }
}